<!-- views/tokens.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Page</title>
</head>
<body>
    <h1>Shuffled Random Token:</h1>
    <p>{{randomTokenWithoutCommas}}</p>
</body>
</html>
